<head>
    <style>code{font-size: 1.2em; color:blue}</style>
</head>
<body>
    <h2><pre>md5-hash</pre></h2>

    <pre>
        import Hashes from '../md5-hash.mjs';
        window.hashMD5 = new Hashes.MD5(); 
        
        hashMD5.b64(value)
    </pre>

    <input id="str"> &nbsp; <button onclick="$dqs('#hash').innerText = ''; $dqs('input').value = ''">clear</button>
    <br><br>
    <code id="hash"></code>
    <br><br>
    <button onclick="$dqs('#hash').innerText = hashMD5.b64(this.previousSibling.value)">hashMD5.b64( )</button> &nbsp; <samp>hashMD5.b64(value)</samp><br>
    <button onclick="$dqs('#hash').innerText = hashMD5.hex(this.previousSibling.value)">hashMD5.hex( )</button><br>
    <!-- <button onclick="$dqs('#hash').innerText = hashMD5.any(this.previousSibling.value)">hashMD5.any( )</button><br> -->
    <button onclick="$dqs('#hash').innerText = hashMD5.raw(this.previousSibling.value)">hashMD5.raw( )</button><br>
    <button onclick="$dqs('#hash').innerText = hashMD5.hex_hmac(this.previousSibling.value)">hashMD5.hex_hmac( )</button><br>
    <button onclick="$dqs('#hash').innerText = hashMD5.b64_hmac(this.previousSibling.value)">hashMD5.b64_hmac( )</button><br>
    <!-- <button onclick="$dqs('#hash').innerText = hashMD5.any_hmac(this.previousSibling.value)">hashMD5.any_hmac( )</button><br> -->
    

<script type="module">
    window.$dqs = document.querySelector.bind(document)

    import Hashes from '../md5-hash.mjs';
    window.hashMD5 = new Hashes.MD5();
    
    </script>
</body>