<style>
    body{font-family: Verdana, Arial, Helvetica, sans-serif; font-size: .9em; margin: 10px 10px 5px 50px;}
    h1{font-weight:normal;}
    code {color: blue; font-size:1.4em;}
    .rem {color: rgb(66, 66, 66); font-size: .9em;}
</style>
<script type="module"> 

    import alfaFetch from '../alfa-fetch.mjs';
    window.alfaFetch = alfaFetch;

    /** dependency: alaFetch is using alfaModalSpinner declared at the bottom 
     *  below are other optional enhancements    */
    import AlfaModalPopup from '../alfa-modal-popup-ui.mjs';  
    window.alfaModalPopup = new AlfaModalPopup();  
    import alfaAudioClips from '../alfa-audio-clips-ui.mjs';
    window.alfaAudioClips = alfaAudioClips;

</script>
<script>
    var callbacks = {
        onSuccess: function(response){
            ajbResponse.add('onSuccess()')
            ajbResponse.add(response)}, 
        onError:   function(err, response){
            ajbResponse.add('onError()')
            ajbError.add(err, {err:true}); ajbResponse.add(response)
            window.alfaModalPopup.open(err.message, 'ERROR', null, {error:true, hidden: JSON.stringify(err,null,4)})
        }
    };
    function getDefaults(){
        alfaFetch(null, {getInstance:function(alfaFetchInstance){
            console.log(alfaFetchInstance);
            ajbResponse.load(alfaFetchInstance.defaults)
        }});
    }
    function getPostBody(){
        var obj = alfaJpop1.jsonObject()
        if (!obj) {alert('POST body is not valid JSON, it will be ignored.'); return null}
        return obj;
    } 
    function showHtml(data) {document.getElementById('fetch-response').innerHTML = data.data}
</script>

<h2><pre>alfa-fetch.mjs    ES6 module</pre></h2>
<i>Open Chrome Dev tools "Network" tab and see the magic.</i> <hr>
AlfaFetch <a href="#" onclick="getDefaults()">defaults</a> &nbsp;&nbsp; an instance of the whole <code>AlfaFetch</code> object will show in console.
<hr>

<a href="#" onclick="alfaFetch('http://localhost:3001/node/alfa-fetch/sync-api', callbacks)">fetch</a> sync API (with default method GET) <a href="#" onclick="alfaJpop2.open(this)">options</a> <br>
<a href="#" onclick="alfaFetch('http://localhost:3001/node/alfa-fetch/sync-api', {  method: 'POST', 
                                                        body:      getPostBody(), 
                                                        onSuccess: callbacks.onSuccess, 
                                                        onError:   callbacks.onError,
                                                        counter: 12345
                                                    })">fetch</a> sync API with method: <a href="#" onclick="alfaJpop1.open(this)">POST</a> <br>
<a href="#" onclick="alfaFetch('http://localhost:3001/node/alfa-fetch/async-api/2', callbacks)">fetch</a> async API 2sec (when default <code>alfaModalSpinner</code> is present on page, it will be used)<br>
<a href="#" onclick="alfaFetch('./index.html', {contentType:'text/plain', onSuccess: showHtml, onError: callbacks.onError})">fetch</a> html text <br>
<hr>
<a href="#" onclick="
    alfaFetch('http://localhost:3001/node/alfa-fetch/async-api/5', callbacks);
    alfaFetch('http://localhost:3001/node/alfa-fetch/async-api/1', callbacks);
    alfaFetch('http://localhost:3001/node/alfa-fetch/async-api/3', callbacks);
    ">fetch</a> async fetches: 5sec, 1sec, 3sec<br>

<a href="#" onclick="
    alfaFetch('http://localhost:3001/node/alfa-fetch/async-api/5', callbacks);
    alfaFetch('http://localhost:3001/node/alfa-fetch/async-api/1', callbacks);
    alfaFetch('http://localhost:3001/node/alfa-fetch/async-api/20', {timeout:5000, onError: callbacks.onError});
    alfaFetch('http://localhost:3001/node/alfa-fetch/async-api/3', callbacks);
    ">fetch</a> async fetches: 5sec, 1sec, timeout, 3sec<br>
<hr>
<a href="#" onclick="alfaFetch('http://localhost:3001/node/blabla',     callbacks)">fetch</a> wrong route (404) <br>
<a href="#" onclick="alfaFetch(
    'http://localhost:3001/node/alfa-fetch/async-api/45', {
        timeout: 5000,
        onError: callbacks.onError,
    }
)">fetch</a> simulate timeout <span class="rem">(ES6 fetch does not support timeout, it is 'pending' until browser fails it)</span>  <br>
<!-- <a href="#" onclick="alfaFetch('http://localhost:3001/msc-time/sql/execute', callbacks)">fetch</a> forbidden route (403)  <br>
<a href="#" onclick="alfaFetch('http://localhost:3001/node/alfa-fetch/server-code-error', callbacks)">fetch</a> server code error (500), may need to restart NodeJS  <br>
<a href="#" onclick="alfaFetch('http://localhost:3001/node/alfa-fetch/server-side-error', callbacks)">fetch</a> server side error, catched.  <br> -->

<hr>
<a href="#" onclick="alfaFetch('http://108.174.24.195:3004', callbacks)">fetch</a> 108.174.24.195:3004.  <br>
<br>


<!-- alfa-json boxes -->
    <div class="alfa-json-boxes-controls"></div>
    <div class="alfa-json-box" box-id="ajb-response" box-name="fetch response" ></div>
    <div class="alfa-json-box" box-id="ajb-error" box-name="fetch error" ></div>

    <script type="module">
        import AlfaJsonBox from '../alfa-json-box-ui.mjs';
        window.ajbResponse = new AlfaJsonBox('.alfa-json-box[box-id=ajb-response]');  // each box has separate instance of AlfaJsonBox 
        window.ajbError =    new AlfaJsonBox('.alfa-json-box[box-id=ajb-error]');  // each box has separate instance of AlfaJsonBox 
    </script>
<!-- END: alfa-json-boxes -->


    <code>fetch-response</code>
    <div class="data-displ"  id="fetch-response" style="border: 1px solid green;"></div>
    <br>
    <code>fetch-error</code>
    <div class="data-displ"  id="fetch-error"    style="border: 1px solid red;"></div>


    <!-- this is popup, place it after other elements -->
    <script type="module">
        import AlfaJpop from '../alfa-json-input-pop-ui.mjs';
        window.alfaJpop1 = new AlfaJpop('[id=alfaJpop1]');
        window.alfaJpop2 = new AlfaJpop('[id=alfaJpop2]');
    </script>
    <div id="alfaJpop1" title-text="type POST body in JSON format" ></div>
    <div id="alfaJpop2" title-text="type Options in JSON format" ></div>
    

    <!-- alfa-modal-spinner,  place it at the end of body for overlay to be on top of all elements -->
    <div id="alfa-spinner"></div>
    <script type="module">
        import AlfaModalSpinner from '../alfa-modal-spinner-ui.mjs';
        window.alfaModalSpinner = new AlfaModalSpinner('#alfa-spinner');
    </script>