<header>
    <title>alfa-fetch</title>
</header>
<style>
    body{font-family: Verdana, Arial, Helvetica, sans-serif; font-size: .9em; margin: 10px 10px 5px 50px;}
    h1{font-weight: normal; margin: 0 0 0 0; display:inline-block;}
    ul[de-pendencies]{margin:0 0 1em 0}
    code {color: navy; font-size:1.4em;}
</style>

<script type="module"> 


    import alfaFetch from '../alfa-fetch.mjs'; /** this is the instance of AlfaFetch, ready to use */
    window.alfaFetch = alfaFetch;


</script>


<h1>alfa-fetch.mjs &nbsp;&nbsp;</h1>

<a href="index.html">index</a> &nbsp;&nbsp;<a href="examples.html">examples</a><br><br>


see <b>headers</b> in Dev tools "Network" tag
<br>
<br>

<a href="#" onclick="alfaFetch('http://localhost:3001/node/alfa-fetch/async-api/1')">fetch</a> - default headers <br>

<a href="#" onclick="alfaFetch(
    'http://localhost:3001/node/alfa-fetch/async-api/1',
    {headers: {}}
    )">fetch</a>  - no headers <br>

<a href="#" onclick="alfaFetch(
    'http://localhost:3001/node/alfa-fetch/async-api/1',
    {headers: {'x-custom': 'customHeader'}}
    )">fetch</a>  - custom header added
<br>
<br>
<a href="#" onclick="alfaFetch(
    'https://www.cloudflare.com/cdn-cgi/trace',
    {headers: {}}
    )">fetch</a>  - cloudflare/trace - CORS problem
    
<br>
<a href="#" onclick="alfaFetch(
    'https://api.ipify.org?format=json',
    {headers: {}}
    )">fetch</a>  - api.ipify.org 
<br>

<a href="#" onclick="alfaFetch(
    'https://json.geoiplookup.io/api',
    {headers: {}}
    )">fetch</a>  - geoiplookup.io - bad!
<br>
<a href="#" onclick="alfaFetch(
    ' https://ipinfo.io/json',
    {headers: {}}
    )">fetch</a>  - ipinfo.io
<br>
<hr>


<pre id="fetch-response"></pre>

<pre id="fetch-error"></pre>


 <!-- alfa-modal-spinner,  place it at the end of body for overlay to be on top of all elements -->
 <div id="alfa-spinner"></div>
 <script type="module">
     import AlfaModalSpinner from '../alfa-modal-spinner-ui.mjs';
     window.alfaModalSpinner = new AlfaModalSpinner('#alfa-spinner');
 </script>