<header>
    <title>alfa-fetch</title>
</header>
<style>
    body{font-family: Verdana, Arial, Helvetica, sans-serif; font-size: .9em; margin: 10px 10px 5px 50px;}
    h1{font-weight: normal; margin: 0 0 0 0; display:inline-block;}
    ul[de-pendencies]{margin:0 0 1em 0}
    code {color: navy; font-size:1.4em;}
</style>

<script type="module"> 


    import alfaFetch from '../alfa-fetch.mjs'; /** this is the instance of AlfaFetch, ready to use */
    window.alfaFetch = alfaFetch;


</script>


<h1>alfa-fetch.mjs &nbsp;&nbsp;</h1>

<a href="examples.html">examples</a> &nbsp;&nbsp; <a href="headers.html">headers</a><br><br>

uses page level services:
<ul de-pendencies>
    <li>window.alfaModalSpinner - <code>alfa-modal-spinner-ui.mjs</code></li>
</ul>
<br>


<a href="#" onclick="alfaFetch('http://localhost:3001/node/alfa-fetch/async-api/1')">fetch</a> async API 
<hr>

<pre id="fetch-response"></pre>

<pre id="fetch-error"></pre>


 <!-- alfa-modal-spinner,  place it at the end of body for overlay to be on top of all elements -->
 <div id="alfa-spinner"></div>
 <script type="module">
     import AlfaModalSpinner from '../alfa-modal-spinner-ui.mjs';
     window.alfaModalSpinner = new AlfaModalSpinner('#alfa-spinner');
 </script>