<style>
    body{font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
    h1, h2, h3{font-weight: normal;}
    h2{font-size: 1.25em; margin-bottom: .25em;}
    /* pre{margin: 0} */
    code{color:blue; font-size: 1.2em}
    samp{color:darkmagenta; font-size: 1.2em}
</style>

<h2>constructor</h2>
<pre>
    import {AlfaDatabinding} from '../alfa-databinding.mjs'
    new AlfaDatabinding()  /* default args: document, window  */
</pre>
The constructor scans page for elements containing attribute <code>bound_path...</code> and creates binding for each found element.<br>
Binding is handled automatically for all standard supported html elements.


<h2>data paths</h2>
<code>bound_path</code> two way databinding, any element<br>
<code>bound_path_out</code> data out databinding, for elements having a list to choose from, like 
<samp>&lt;select&gt;  &lt;table&gt;  &lt;input list&gt; &lt;input type="radio"&gt;</samp><br>

<h2>paths calling action on the element</h2>
<code>bound_path_disabled</code>  (boolean)<br>
<code>bound_path_hidden</code>  (boolean)<br>

<code>bound_path_select_item</code>  (value) <samp>&lt;select&gt; </samp> <br>
<code>bound_path_select_by_index</code>  (integer) <samp>&lt;select&gt;  &lt;table&gt; </samp> <br>
<code>bound_path_clear_selected</code>  (boolean) <samp>&lt;select&gt;  &lt;table&gt; </samp><br>

<h2>web-components binding paths</h2>
Required: <samp>databinding_setValue(value, pathName)</samp> inside a web-component.<br>
All paths have to start with <code>bound_path</code><br>
web-components may have non standard path names like <code>bound_path_special</code> because these paths are handled in callback function <samp>databinding_setValue()</samp> inside a web-component.<br>
These path names are passed to the function by name and function will do the rest.

<h2>elements inside web-components</h2>
Elements inside web-components will not be found by constructor scan because they are in shadow DOM.<br>
A web-component may use it's own instance of AlfaDatabinding.<br>
On <samp>index.html</samp> page:
<pre>
    import {AlfaDatabinding} from '/ALFA_es6modules/alfa-databinding.mjs'
    window.AlfaDatabinding = AlfaDatabinding /* to be available inside web-component */
</pre>
In <samp>ready()</samp> event of web-component:
<pre>
    this.alfaDatabinding = new window.AlfaDatabinding(this.shadowRoot, this)
</pre>
This setup makes Data Store private to a web-component and attached to <code>this</code>