<head></head>
<body>
    <style>
        body{margin: 5px 25px; font-family: Verdana, sans-serif; font-size: 14px;}
        h1, h2{font-weight: normal}
        h1 span{font-size: .7em;}
        h1 small{font-size: .5em;}
        code {color:blue; font-size:1.18em}
        /* xmp{margin: 0}
        xmp.blu {color: blue; font-size: 1.2em;} */
    </style>
<script type="module">

    import AlfaModalSpinner from '../alfa-modal-spinner-ui.mjs';
    window.alfaModalSpinner = new AlfaModalSpinner('[alfa-modal-spinner]', {multipleInstances: false});
    
    /* the name: window.alfaModalSpinner is used by alfaFetch */
</script>

<h1>alfa-modal-spinner-ui.mjs &nbsp;&nbsp;<span>es6 module</span>&nbsp;&nbsp;<small>by default spinner is NOT modal</small></h1>

<b>single instance</b>  &nbsp;&nbsp; <a href="index-2.html">multiple instances</a><br>
<br>
<!-- <small>reset by timeout</small><br> -->
this test starts spinner for long task, then for shorter tasks,<br> 
the spinner remains until all tasks are completed.<br>
<small>see console reporting spinner.off()</small><br>
<br>
<!-- <a href="#" onclick="startSpinner(1000)">spinner 1s on</a><br>
<a href="#" onclick="startSpinner(2000)">spinner 2s on</a><br> 
<a href="#" onclick="startSpinner(3000)">spinner 3s on</a><br>  -->
<a href="#" onclick="(function(){
    startSpinner(5000);
    startSpinner(1000);
    startSpinner(2000)
})()">start spinner 4s, 1s and 2s</a><br> 

<br><br><hr>
<a href="../alfa-modal-spinner-ui.mjs" target="_blank">see code</a>


<div alfa-modal-spinner color-spin="lime" color-track="white"></div>


<script>
    var spinnerCount =0;
    function startSpinner(t){
        spinnerCount++;

        var spinnerNr = alfaModalSpinner.on()

        setTimeout(function(){
            console.log('[index.html]', 'alfaModalSpinner.off', spinnerNr)
            alfaModalSpinner.off(spinnerNr)
        }, t)

    }
</script>

</body>