<head></head>
<body>
    <style>
        body{margin: 5px 25px; font-family: Verdana, sans-serif; font-size: 14px;}
        h1, h2{font-weight: normal}
        h1 span{font-size: .7em;}
        h1 small{font-size: .5em;}
        code {color:blue; font-size:1.18em}
        /* xmp{margin: 0}
        xmp.blu {color: blue; font-size: 1.2em;} */
    </style>
<script type="module">

    import AlfaModalSpinner from '../alfa-modal-spinner-ui.mjs';
    

    window.alfaSpinner1 = new AlfaModalSpinner('[alfa-modal-spinner]');
    window.alfaSpinner2 = new AlfaModalSpinner('#spinner2');
    
</script>

<h1>alfa-modal-spinner-ui.mjs &nbsp;&nbsp;<span>es6 module</span>&nbsp;&nbsp;<small>by default spinner is NOT modal</small></h1>

<b>multiple</b> spinners must have <code>unique-attr</code> &nbsp;&nbsp; <a href="index.html">single instance</a><br>
<br>
<a href="#" onclick="alfaSpinner1.on()">spinner1 on</a> click to dismiss <br>
<a href="#" onclick="alfaSpinner2.on()">spinner2 on</a> modal, can be switched off only by running in console <code>alfaSpinner2.off()</code>

<br><br><hr>
simple example with defaults:
<xmp>
    <script type="module">
        import AlfaModalSpinner from './alfa-modal-spinner-ui.mjs';
        window.alfaSpinner1 = new AlfaModalSpinner('.alfa-modal-spinner');
    </script>

    <div class="alfa-modal-spinner"></div> 
</xmp>
<hr>
all attributes example:
<xmp>
    <div alfa-modal-spinner 
        keep-modal
        s-speed=".5s"
        s-diameter="200"
        s-thickness="14"
        color-spin="red"
        color-track="pink"
        overlay-rgba="255, 100, 100, 0.5"
        unique-attr="alfa-spinner-2"
        >
    </div>    
</xmp>
<hr>


<div alfa-modal-spinner color-spin="lime" color-track="white"></div>


<div alfa-modal-spinner id="spinner2"
    keep-modal
    s-speed=".5s"
    s-diameter="200"
    s-thickness="14"
    color-spin="red"
    color-track="pink"
    overlay-rgba="255, 100, 100, 0.5"
    unique-attr="alfa-spinner-2"
    >
</div>

</body>