<head>
    <style>
        body{margin: 5px 25px; font-family: Verdana, sans-serif; font-size: 14px;}
        h1, h2{font-weight: normal}
        h1 span{font-size: .7em;}
        /* xmp{margin: 0}
        xmp.blu {color: blue; font-size: 1.2em;} */
    </style>
</head>


<h1>alfa-json-input-pop-ui.js &nbsp;&nbsp;<span>es6 module</span></h1>

Popup text box for user data entry.

<br><br>
<label>enter json: <input id="POST" type="checkbox" onclick="alfaJpop1.open(this)"></label> &nbsp;&nbsp;&nbsp;&nbsp;  
<label>enter text: <input id="txt"  type="checkbox" onclick="alfaJpop2.open(this)"></label> &nbsp;&nbsp;&nbsp;&nbsp;  
<label>programmatically: <input id="txt2"  type="checkbox" onclick="alfaJpop3.open(this)"></label> &nbsp;&nbsp;&nbsp;&nbsp;  

<p>popup is popping under parent elemnt</p>

<p>Sit veniam laborum sunt aliqua incididunt sit tempor. Enim laboris dolor amet duis nulla ex ad incididunt consequat cupidatat. Elit quis culpa esse eu et enim tempor laborum Lorem eiusmod deserunt enim. Adipisicing eiusmod qui velit ea dolore exercitation esse nostrud proident. Sint proident consequat cillum eu excepteur Lorem laboris incididunt magna Lorem reprehenderit ullamco. Duis id eu qui consectetur nulla ullamco ullamco.Sit veniam laborum sunt aliqua incididunt sit tempor. Enim laboris dolor amet duis nulla ex ad incididunt consequat cupidatat. Elit quis culpa esse eu et enim tempor laborum Lorem eiusmod deserunt enim. Adipisicing eiusmod qui velit ea dolore exercitation esse nostrud proident. Sint proident consequat cillum eu excepteur Lorem laboris incididunt magna Lorem reprehenderit ullamco. Duis id eu qui consectetur nulla ullamco ullamco.Sit veniam laborum sunt aliqua incididunt sit tempor. Enim laboris dolor amet duis nulla ex ad incididunt consequat cupidatat.</p>


<!-- tis is popup, insert it at the bottom after all other elements-->
<div class="alfa-json-input-pop" id="ajip1" title-text="type POST body in JSON format">
{
    "CLIENT_SESSION_ID": "WEB-PPC-sid0000001", 
    "USER_ID":"eugene1",
    "PASSWORD":"",    
    "FORM_NAME": "frmPPCItemStockStatC2KMscXMl", 
    "FORM_ID": "frmPPCItemStockStatC2KMscXMl" 
}    
</div>
<div class="alfa-json-input-pop" id="ajip2" not-json></div> <!-- not-json -->

<div class="alfa-json-input-pop" id="ajip3" ></div> 


<script type="module">
    // var $dqs = document.querySelector.bind(document);

    import AlfaJpop from '../alfa-json-input-pop-ui.mjs';

    window.alfaJpop1 = new AlfaJpop('[id=ajip1]');
    window.alfaJpop2 = new AlfaJpop('[id=ajip2]');
    window.alfaJpop3 = new AlfaJpop('[id=ajip3]');

    window.alfaJpop3.content(`{
    a: "boo",
    b: 3,
    c: false
}`);

</script>