<head></head>
<body>
    <style>
        body{margin: 5px 25px; font-family: Verdana, sans-serif; font-size: 14px;}
        h1, h2{font-weight: normal}
        h1 span{font-size: .7em;}
        /* xmp{margin: 0}
        xmp.blu {color: blue; font-size: 1.2em;} */
    </style>

    <script type="module"> 

        import AlfaJsonBox from '../alfa-json-box-ui.mjs';
    
        // NOTE: the scope of variables in NOT global inside module, attach vars to window object to be available on page

        window.alfaJsonBox1 = new AlfaJsonBox('.alfa-json-box[box-id=ajb1]');
        window.alfaJsonBox2 = new AlfaJsonBox('.alfa-json-box[box-id=ajb2]');
        window.alfaJsonBox3 = new AlfaJsonBox('.alfa-json-box[box-id=ajb3]');
        window.alfaJsonBox4 = new AlfaJsonBox('.alfa-json-box[box-id=ajb4]');
        window.alfaJsonBox5 = new AlfaJsonBox('.alfa-json-box[box-id=ajb5]');
    
    </script>
    <script page-scope>
        const $dge = document.getElementById.bind(document);
    
        var objCircular = {type:'safe', a:1, b:'dwa', c:true, d:{a:'czy', b:'cztery'}}
        objCircular.o = objCircular;
    </script>
    
    <h1>alfa-json-box-ui.js &nbsp;&nbsp;<span>es6 module  &nbsp;&nbsp; <a href="index.html">index</a></span></h1>
    

        load: <a href="#" onclick="alfaJsonBox1.load({a:1, b:true, c:'sdfgd'})">box 1</a> &nbsp;&nbsp;
              <a href="#" onclick="alfaJsonBox2.load({a:345, b:false, c:'wcw', d:349578})">box 2</a>&nbsp;&nbsp;
              <a href="#" onclick="alfaJsonBox3.load({a:343455, b:false, c:'sd567fgd', d:456})">box 3</a>&nbsp;&nbsp;
              <a href="#" onclick="alfaJsonBox4.load({a:55, b:true, c:'no indicator', d:456})">box 4</a>&nbsp;&nbsp;
              <a href="#" onclick="alfaJsonBox5.load(objCircular)">box 5</a>&nbsp;&nbsp; 
        add:  <a href="#" onclick="alfaJsonBox2.add({a:2, b:true, c:'add'}, {name:'box with multiple added items'})">box 2</a>&nbsp;&nbsp;
              <br>
              <a href="#" onclick="alfaJsonBox2.load({error:true, msg:'auc`'}, {err:true, name:'ERROR'})">box 2</a>  with error msg &nbsp;&nbsp;
              <a href="#" onclick="alfaJsonBox2.load({a:1, b:true, c:'a'}, {name:'new name'})">box 2</a>  with new name &nbsp;&nbsp;
              <a href="#" onclick="alfaJsonBox2.load({a:1, b:true, c:'a'}, {readOnly:true})">box 2</a>  readOnly &nbsp;&nbsp;
              <a href="#" onclick="alfaJsonBox2.load({a:1, b:true, c:'a'}, {keepClosed:true})">box 2</a>  keepClosed &nbsp;&nbsp;
              <a href="#" onclick="alfaJsonBox2.load({a:1, b:true, c:'a'}, {noIndicator:true})">box 2</a>  noIndicator &nbsp;&nbsp;
        <br><br>    

        <div class="alfa-json-boxes-controls"></div>
    
        <div class="alfa-json-box" box-id="ajb1" box-name="first box - &lt;code&gt;keep-closed&lt;/code&gt; on load" keep-closed></div>
        
        <div class="alfa-json-box" box-id="ajb2" box-name="second box" indicator-color="orange"></div>

        <div class="alfa-json-box" box-id="ajb3" box-name="third box &lt;code&gt;read-only&lt;/code&gt; can not clear content" read-only></div>

        <div class="alfa-json-box" box-id="ajb4" box-name="fourth box &lt;code&gt;no-indicator&lt;/code&gt;" no-indicator></div>

        <div class="alfa-json-box" box-id="ajb5" box-name="fifth box &lt;code&gt;circular reference&lt;/code&gt;"></div>

        <br>


<section documentation-container>
    <style>
        [documentation-container] {font-family: verdana;}
        [documentation-container] h1, h2{font-weight: normal}
        [documentation-container] i {font-size: .85em; color:rgb(94, 94, 94)}
        [documentation-container] xmp{margin: 0}
        [documentation-container] xmp.blu {color: blue; font-size: 1.2em;}
        [documentation-container] code {color: rgb(187, 0, 187); font-size: 1.2em}
    </style>

        <h2>examples</h2>
        <hr>
    <xmp class="blu">HTML - declaring hosting element</xmp>
        <xmp>
    <div class="alfa-json-box" 
        box-id="ajb1"           - optional, useful to create unique CSS selector
        box-name="first box - &lt;code&gt;keep-closed&lt;/code&gt; on load"  - optional, can be HTML text
        keep-closed             - keep closed on load
        read-only               - can not clear content
        no-indicator            - no data presence indicator
        >
    </div>
</xmp>
<hr>
<xmp class="blu">HTML - declaring controls element</xmp>
    <xmp>
    <div class="alfa-json-boxes-controls"></div>    
    </xmp>
    <i>If the element exists, it will be used to insert controls: close All, open All, clear All.<br>
    The class name <code>alfa-json-boxes-controls</code> is hard coded and must be unique.
    </i>
<hr>
<xmp class="blu"><script type="module"> - import and make instances</xmp>
    <xmp>
    import AlfaJsonBox from './alfa-json-box.js';
    window.alfaJsonBox1 = new AlfaJsonBox('.alfa-json-box[box-id=ajb1]');  // each box has separate instance of AlfaJsonBox 
    </xmp>
    <i>Variables scope is limited to inside <code>es6 module</code>. Delare explicity global vars to be accessible on the page scripts</i>
    <hr>
<xmp class="blu"><script on page> - load objects</xmp>
    <xmp>
    alfaJsonBox1.load(objToBeDisplayed, {
        err: true,                          - make box title bar red
        name: 'new name',                   - show HTML text in titlebar
        readOnly: true,                     - remove [x] clear button
        keepClosed: true,                   - keep box closed after content is loaded
        noIndicator: true                   - remove data present indicator
    });

    alfaJsonBox1.add(objToBeDisplayed, options);
    </xmp>
    <hr>
<xmp class="blu"><script on page> - controling boxes</xmp>
    <xmp>
    alfaJsonBox1.clear();   
    alfaJsonBox1.clearAll();   
    alfaJsonBox1.open();    
    alfaJsonBox1.openAll(); 
    alfaJsonBox1.close();    
    alfaJsonBox1.closeAll(); 
    </xmp>
    <hr>
<xmp class="blu"><style></xmp>
    <xmp>
    <style alfa-json-box-colors> tag is inserted into <head>
    </xmp>
    <i>The <code>&lt;head&gt;</code> element must be on the page. The attribute name <code>alfa-json-box-colors</code> in &lt;style&gt; element tag is hard coded and must be unique.<br>
    Used to avoid multiple style tags for each instance of control.</i>

</section>
</body>