<head></head>
<body>
    <style>
        body{margin: 5px 25px; font-family: Verdana, sans-serif; font-size: 14px;}
        h1, h2{font-weight: normal}
        h1 span{font-size: .7em;}
    </style>

    <script type="module"> 

        import AlfaJsonBox from '../alfa-json-box-ui.mjs';
    
        window.alfaJsonBox1 = new AlfaJsonBox('.alfa-json-box[box-id=ajbox1]');
        
    
    </script>
   
    
    <h1>alfa-json-box-ui.js &nbsp;&nbsp;<span>es6 module &nbsp;&nbsp; <a href="examples.html">examples</a></span></h1>
    

        load: <a href="#" onclick="alfaJsonBox1.load({a:1, b:true, c:'alfa'})">box 1</a> &nbsp;&nbsp;
             
        add:  <a href="#" onclick="alfaJsonBox1.add({a:3, b:false, c:'beta'}, {name:'box with multiple added items'})">box 1</a>&nbsp;&nbsp;
              
        <br><br><br>   

        <div class="alfa-json-boxes-controls"></div>
    
        <div class="alfa-json-box" box-id="ajbox1" box-name="first box"></div>
        
        
        <br>


</body>